@{
	ViewBag.Title = "RenderProduct";
	Layout = null;
}

<div>@Html.Partial("~/Views/Category/CategoryPartial.cshtml")</div>
<div>@Html.Partial("~/Views/Category/AdidasProductsPartial.cshtml")</div>
<div>@Html.Partial("~/Views/Category/NikeProductsPartial.cshtml")</div>
<div>@Html.Partial("~/Views/Category/PumaProductsPartial.cshtml")</div>
<div>@Html.Partial("~/Views/Category/ConverseProductsPartial.cshtml")</div>

